.container {
    position: relative;
    text-align: center;
    color: white;
}
.box-img {
    width: 100%;
    max-width: 800px;
}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}
h1{
    font-size: 80px;
    font-weight:800;
}
p{
    font-size: 30px;
}
input{
    border-radius:10px;
    padding:10px;
    font-size:20px;
    width: 80%;
  }
